.App {
padding-top: 36px;
  text-align: center;
}

.SearchForm-wrapper{
  display: flex;
  justify-content: center;
 
}
.Movielist{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 26px;
}
.Movielist-item{
  margin-top: 24px;
  width: 48%;
}